[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
auto-py-to-exe = "*"
ttkbootstrap = "*"
simpleitk = "*"
pillow = "*"
numpy = "*"
scikit-image = "*"
opencv-python = "*"
serial = "*"
pyserial = "*"

[dev-packages]

[requires]
python_version = "3.12"
